.conversionForm {
    margin: auto;
    width: 100%;
    max-width: 200px;
    overflow: hidden;
    font: 300 1.2em/1em 'Roboto', sans-serif;
  }
  
.conversionForm label {
    font-weight: 500;
}
  
.conversionForm select,
.conversionForm input {
    outline: none;
}
  
.conversionForm__amount {
    width: 80%;
    margin: auto;
}
  
.conversionForm__amount label {
    text-align: center;
    display: block;
}
  
.conversionForm__amount input {
    margin: 5px auto;
    display: block;
}
  
.conversionForm__currencies {
    width: 100%;
    float: left;
    clear: left;
    margin: 10px 0;
}
  
.conversionForm__currencies div {
    width: 50%;
    float: left;
}
  
.conversionForm__currencies div label {
    text-align: center;
    display: block;
}
  
.conversionForm__currencies div select {
    width: 55px;
    display: block;
    margin: 5px auto;
    border: none;
}

.conversionForm .currencySubmit {
    display: block;
    margin: 5px auto;
    appearance: none;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 15px 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
  
.conversionForm .currencySubmit:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #C7C7C7;
    font-weight: 500;
}
  
.output {
    font: 500 2em/1em 'Roboto', sans-serif;
    text-align: center;
}